/* @font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
} */

:root {
  --black: rgba(0, 0, 0, 0.87);
  --white: #fffefc;
  --grey: rgba(0, 0, 0, 0.6);

  --font-size-xxxxl: 4em;
  --font-size-xxxl: 3em;
  --font-size-xxl: 2.5em;
  -—font-size-xl: 2em;
  --font-size-l: 1.75em;
  --font-size-m: 1.25em;
  --font-size-p: 1em;
  --font-size-s: 0.875em;
  --font-size-xs: 0.75em;
}

/*----------Resetters----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Inter", sans-serif;
  background-color: var(--white);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  font-size: 17px !important;
}

h1 {
  font-size: var(--font-size-xxl);
  line-height: 1.125;
  letter-spacing: -0.05rem;
}
h2 {
  font-size: var(--font-size-xl);
}
h3 {
  font-size: var(--font-size-l);
}
h4 {
  font-size: var(--font-size-m);
}
h5 {
  font-size: var(--font-size-s);
}
h6 {
  font-size: var(--font-size-xs);
}
p {
  font-size: var(--font-size-p);
  line-height: 1.4;
  letter-spacing: -0.02rem;
}

.gradient-pink-peach {
  background-image: linear-gradient(306deg, #ffb9fe, #ff6868, #f28b6f, #ec59ff);
  background-size: 800% 800%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: Gradient 14s ease infinite;
  -moz-animation: Gradient 14s ease infinite;
  animation: Gradient 14s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 9%;
  }
  50% {
    background-position: 100% 92%;
  }
  100% {
    background-position: 0% 9%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 9%;
  }
  50% {
    background-position: 100% 92%;
  }
  100% {
    background-position: 0% 9%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 9%;
  }
  50% {
    background-position: 100% 92%;
  }
  100% {
    background-position: 0% 9%;
  }
}
